GridBaseProject/.vsconfig
GridBaseProject/Assembly-CSharp.csproj
GridBaseProject/GridBaseProject.sln
GridBaseProject/.vs/GridBaseProject/project-colors.json
GridBaseProject/.vs/GridBaseProject/FileContentIndex/21a49f47-2ded-48a7-a9e2-4ac272791f4b.vsidx
GridBaseProject/.vs/GridBaseProject/FileContentIndex/3cc17768-ab6e-4024-ab1f-c82331dacd29.vsidx
GridBaseProject/.vs/GridBaseProject/FileContentIndex/8b6e8ab7-f393-4218-aab4-5c131ac8137e.vsidx
GridBaseProject/.vs/GridBaseProject/FileContentIndex/a0396cc7-b37b-474e-a7eb-920b88d6ca16.vsidx
GridBaseProject/.vs/GridBaseProject/FileContentIndex/read.lock
GridBaseProject/.vs/GridBaseProject/v17/.suo
GridBaseProject/Library/
GridBaseProject/Logs/
GridBaseProject/obj/
GridBaseProject/UserSettings/
*.sln
*.suo
GridBaseProject/Temp/
GridBaseProject/.vs/
GridBaseProject/Assets/TextMesh Pro